Repository ElemeFE/element, pull requests merged in 2018-11, with the labels that each got.

#13272 DatePicker: Allowed to customize range-seprator with a slot
  examples/docs/en-US/date-picker.md
  examples/docs/es/date-picker.md
  examples/docs/zh-CN/datetime-picker.md
  packages/date-picker/src/picker.vue
Labels: need: docs

#13374 date table: simplify implementation, fix #12980, follow up #8156
  packages/date-picker/src/basic/date-table.vue
Labels: component: date-picker

#13349 [Tree]: fix #12383
  packages/tree/src/model/node.js
  test/unit/specs/tree.spec.js
Labels: component: tree

#13198 Progress: add text status
  examples/docs/en-US/progress.md
  examples/docs/es/progress.md
  examples/docs/zh-CN/progress.md
  packages/progress/src/progress.vue
  test/unit/specs/progress.spec.js
  types/progress.d.ts
Labels: component: progress

#12171 Autocomplete: add clearable prop
  examples/docs/en-US/input.md
  packages/autocomplete/src/autocomplete.vue
  packages/input/src/input.vue
  types/autocomplete.d.ts
Labels: component: autocomplete, component: input
